@font-face {
    font-family: principalfont;
    src: url(../Staatliches/Staatliches-Regular.ttf);
}

h2{
    font-family: principalfont;
}

p{
    font-family: principalfont;
}


body{
    padding: 0;
    margin: 0;
}

.slides img{
    height: 780px;

    
}


.image-zoom {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.list{
    font-family: principalfont;
    font-size: 24px;
    
}

.list ul li a{
    color: white;
}



#Personajes{
    padding: 40px;
}

.gumball-image img{
    height: 341px;
    width:  260px;
}

.col{
    padding: 30px;
}

.box{
    border-color: black;
    border-radius: 30px;
    border-style: solid;
}

.box h2{
    text-align: center;
    align-items: center;
}

.box img{
    width: 260px;
    height: 341px;
}

.box {
    font-family: principalfont;
}

.Personajes{
    margin-top: 40px;
    margin-left: 90px;
}

.col{
    margin:10px;
}
.Curiosidades{
    padding: 40px;
}

.target{
    align-items: center;
}

.imagen{
    align-content: center;
}

.imagen img{
    width: 100%;
    height: 100%;
}

.texto p{
    font-size: 20px;
}

.teorias{
    padding: 40px;
    font-size: 40px;
}

.titulo{
    text-align: center;
    margin-top: 30px;
}

.infotheory{
    border: 1.5px black solid;
    padding: 40px;
    margin-left: none;
    margin-right: -100px;
}

.infotheory img{
    width: 100%;
    height: 75%;
}

.form-register {
    width: 100%;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: #80C5D5;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: #80C5D5;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #80C5D5;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
  }

  .form{
    padding-bottom: 60px;
  }

.Acerca_de{
        text-align: center;
        font-size: 40px;
        padding-top: 70px;
  }

.infoacerca{
    text-align: center;
    font-size: 20px;
  }

.piepagina{
    background-color: #80C5D5;
    height: 100px;
    color: white;
}

.piepagina p{
    text-align: center;
    padding: 20px;

}