@font-face {
    font-family: principalfont;
    src: url(../Staatliches/Staatliches-Regular.ttf);
}

h2{
    font-family: principalfont;
}

p{
    font-family: principalfont;
}

body{
    padding: 0;
    margin: 0;
}

.slides img{
    height: 780px;
    
}

.list{
    font-family: principalfont
}



#Personajes{
    padding: 40px;
}

.gumball-image img{
    height: 341px;
    width:  260px;
}

.col{
    padding: 30px;
}

.box{
    border-color: black;
    border-radius: 30px;
    border-style: solid;
}

.box h2{
    text-align: center;
    align-items: center;
}

.box img{
    width: 260px;
    height: 341px;
}

.box {
    font-family: principalfont;
}

.Personajes{
    margin-top: 40px;
    margin-left: 90px;
}

.col{
    margin:10px;
}
.Curiosidades{
    padding: 40px;
}


.imagen img{
    width: 440px;
    height: 355px;
}